#Import Library

In [6]:
import tweepy
import pandas as pd

#Access Twitter API

In [7]:
api_key = "LZjAiMeeaBwV0XSaL3B2MSVfB"
api_key_secret = "1SlFeIzZERjafTCiRx9AmmPsU61TSByFJS0KYHUxObdv5f6kYJ"
bearer_token = "AAAAAAAAAAAAAAAAAAAAACgxZAEAAAAAiRrP9y2a1hTm%2F6Dte3UMB7O1zcA%3DJjGk4qexH6ihMp44elyuV3lfvqKYeyxnNAvIULyOaGOZYgdETO"
access_token = "1451950064012705798-568VKUTU6N2YMSEWNviwjC6uB21crn"
access_token_secret = "2071FazqiJGZaFDfUxqxB1vMHuCIKxVPxcdjWqBd2LZLy"

In [8]:
auth = tweepy.OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

#Collect Data by Twitter ID

In [9]:
hasilUser = api.user_timeline(id="jne_id", count=10)

In [17]:
df_tweet = pd.DataFrame(columns=['tweet'])

for tweet in hasilUser:
    df_tweet = df_tweet.append({'tweet': tweet.text}, ignore_index=True)

df_tweet

                                               tweet
0  Semangat #YellowSub !\n\n#jne #JNEMajuIndonesi...
1  Pada latihan kali ini, terlihat @wisnuryuda su...
2  Latihan perdana Tim Cosmo JNE setelah libur le...
3  @Rhadira @JNECare Hallo selamat sore ka, mohon...
4  @amaq_semet @sicepat_ekspres Hallo selamat sor...
5  Eits, jangan lupa juga kamu wajib daftar membe...
6  ADA HADIAH EKSKLUSIF UNTUK PESERTA YANG MEMBAG...
7  UKM Cilegon, Pripun Kabare? \nMau tau ga nih g...
8  @cherryglaaze Hallo kak selamat pagi, mohon ma...
9  Selain itu ada Ade Lesmana selaku pelatih kipe...

#Export to CSV File

In [18]:
df_tweet.to_csv('data_tweet_JNE.csv')